<!DOCTYPE html>

{% extends 'laundry/index.html' %}
{% load static %}

{% block body_block %}

    <section class="section-branches">
        <div class="row">
            <h1> Branches Details </h1>
        </div>
        {% if branches %}
        <div class="branch-details">
            {% for branch in branches %}
            <div class="row">
                <div class="col span-1-of-3">
                  <ul>
                    <li><img src="{% static 'img/logo.png' %}" alt="Logo"></li>
                    <li class="branch-name"><ion-icon name="location" class="logo-big"></ion-icon> <span> {{ branch.Name }} </span>  </li>
                  </ul>
                </div>
                <div class="col span-2-of-3">
                    <p>{{ branch.Service_Available }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}