<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>File Upload Tutorial on Django with Bootstrap</h1>
    <div class="container">
        <form action="{% url 'fileUpload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Using HTML :</label>
            <input type="file" name="html" id=""><br>
        
            <button type="submit" class="btn btn-primary" style="font-size: medium;font-weight: 500;">Upload</button>    
        </form>    
    </div>
    </body>
</html>